<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p> Splurty was built by <a href="http://jennawang.droppages.com" target="_blank">Jenna,</a> on a mission to give people the Parks & Rec quotes they deserve.
</p>
<br />
<div class="col-xs-12 col-sm-4">
	<%= image_tag 'profile.png', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Jenna Wang</h2>
	<br />
	<p>
		Jenna is an intern at <a href="http://www.thefirehoseproject.com/courses" target="_blank">The Firehose Project</a> and student at <a href="http://www.instagram.com/bostoncollege" target="_blank">Boston College,</a> alma mater of Parks and Rec star, Amy Poehler. Coincidence? I think not.
	</p>
</div>